@reference "tailwindcss";

.sideLine {
    background-image: url("@/assets/side-lines-top.svg");



    @apply h-9 z-20 outline-2 absolute top-0 w-full left-0;

    &.vertical {
        background-image: url("@/assets/side-lines.svg");
        @apply w-9 h-full z-10 absolute top-0 bg-repeat-y left-0;
        /*@apply w-10 h-full;*/
        @apply hidden md:block;

        &.right {
            @apply right-0 left-auto;
        }
    }
}

/* dseg7-classic-latin-400-normal */
@font-face {
    font-family: "DSEG7 Classic";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        url(https://cdn.jsdelivr.net/fontsource/fonts/dseg7-classic@latest/latin-400-normal.woff2) format("woff2"),
        url(https://cdn.jsdelivr.net/fontsource/fonts/dseg7-classic@latest/latin-400-normal.woff) format("woff");
}

.segmentDisplay {
    font-family: "DSEG7 Classic", "Courier New", Courier, monospace;

    @apply md:border-b-2;

    &:nth-child(n) {
        @apply md:border-l-2;
    }

    &:first-child {
        @apply border-l-2;
    }

    &:last-child {
        @apply border-r-2;
    }
}

@keyframes glow {
    from {
        scale: 100%;
    }

    50% {
        scale: 150%;
    }

    to {
        scale: 100%;
    }
}

.light {
    background-color: #ffc21c;
    @apply min-h-3 min-w-3 rounded-full;
    @apply absolute top-1/2 -translate-y-1/2;

    &::after {
        content: "";
        @apply animate-ping;
        @apply absolute inset-0 rounded-full bg-yellow-400;
    }

    &.l {
        @apply left-4;
    }

    &.r {
        @apply right-4;
    }
}
